@model DealerVision.Components.Web.Views.Shared.Components.EmailInputList.EmailListModel

<div class="semantish" style="margin: 10px 0px; max-width: 300px;">
    <input class="multi-email-input" value="@Model.Value" name="@Model.Name" />
</div>